
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="kursdefteri, kurs yönetim sistemi, öğrenci yoklama, ödemeler,kurs,meta akdeniz,öğrenci yoklama,Kurs Defterine Nasıl Sahip Olurum ?">
    <meta name="description" content="Kursdefteri, Akdeniz şirketinin sunduğu bir kurs yönetim sistemi ile öğrenci yoklama işlemleri ve ödemeleri kolayca yapın. Kursdefteri, kurumların kursları yönetmesi ve öğrenci yoklama işlemlerini dijital olarak kolayca yapmasına imkan tanır. Bu platformda kurslarınızı oluşturabilir, kurs içeriği ekleyebilir ve öğrencilerinizin kurs süreçlerini izleyebilirsiniz. Kursdefteri sayesinde kurslardaki öğrenci devamsızlık durumları ve ödemeleri hızlı ve verimli bir şekilde yönetilebilir. Öğrenciler, kursdefteri üzerinden ödevleri ve kurs materyallerini kolayca erişebilir ve gönderebilirler. Kurum çalışanları, kurslarla ilgili güncel verileri Kursdefteri'nin raporlama araçlarıyla takip edebilirler.">
    <meta name="author" content="Akdeniz">
    <title>Meta Kurs</title>
    <link rel="icon" type="image/x-icon" href="../src/assets/img/favicon.ico" />

    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700" rel="stylesheet">
    <link href="/cork-v3.8.0/html/src/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/cork-v3.8.0/html/layouts/modern-light-menu/css/light/plugins.css" rel="stylesheet" type="text/css" />
    <link href="/cork-v3.8.0/html/layouts/modern-light-menu/css/dark/plugins.css" rel="stylesheet" type="text/css" />
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM STYLES -->
    <link href="/cork-v3.8.0/html/src/plugins/src/apex/apexcharts.css" rel="stylesheet" type="text/css">
    <link href="/cork-v3.8.0/html/src/assets/css/light/dashboard/dash_1.css" rel="stylesheet" type="text/css" />
    <link href="/cork-v3.8.0/html/src/assets/css/dark/dashboard/dash_1.css" rel="stylesheet" type="text/css" />

    <link rel="icon" type="image/x-icon" href="/cork-v3.8.0/src/assets/img/favicon.ico" />

    <!-- BEGIN PAGE LEVEL PLUGINS -->
    <link href="/cork-v3.8.0/html/src/plugins/src/animate/animate.css" rel="stylesheet" type="text/css" />
    <!-- END PAGE LEVEL PLUGINS -->
    <!-- BEGIN CUSTOM STYLE FILE -->
    <link href="/cork-v3.8.0/html/src/assets/css/light/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="/cork-v3.8.0/html/src/assets/css/light/components/carousel.css" rel="stylesheet" type="text/css">
    <link href="/cork-v3.8.0/html/src/assets/css/light/components/modal.css" rel="stylesheet" type="text/css" />
    <link href="/cork-v3.8.0/html/src/assets/css/light/components/tabs.css" rel="stylesheet" type="text/css">

    <link href="/cork-v3.8.0/html/src/assets/css/dark/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="/cork-v3.8.0/html/src/assets/css/dark/components/carousel.css" rel="stylesheet" type="text/css">
    <link href="/cork-v3.8.0/html/src/assets/css/dark/components/modal.css" rel="stylesheet" type="text/css" />
    <link href="/cork-v3.8.0/html/src/assets/css/dark/components/tabs.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="/cork-v3.8.0/html/src/plugins/src/filepond/filepond.min.css">
    <link rel="stylesheet" href="/cork-v3.8.0/html/src/plugins/src/filepond/FilePondPluginImagePreview.min.css">
    <link href="/cork-v3.8.0/html/src/plugins/css/light/filepond/custom-filepond.css" rel="stylesheet" type="text/css" />
    <link href="/cork-v3.8.0/html/src/plugins/css/dark/filepond/custom-filepond.css" rel="stylesheet" type="text/css" />

    <!-- BEGIN CUSTOM wizard denemsi FILE -->
    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/plugins/src/stepper/bsStepper.min.css">

    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/assets/css/light/scrollspyNav.css" />
    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/plugins/css/light/stepper/custom-bsStepper.css">

    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/assets/css/dark/scrollspyNav.css" />
    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/plugins/css/dark/stepper/custom-bsStepper.css">

    <script src="/cork-v3.8.0/html/layouts/modern-light-menu/loader.js"></script>

    <!-- personel içerigi başlıyor -->
    <link href="/cork-v3.8.0/html/src/assets/css/light/components/modal.css" rel="stylesheet" type="text/css">
    <link href="/cork-v3.8.0/html/src/assets/css/light/apps/contacts.css" rel="stylesheet" type="text/css" />

    <link href="/cork-v3.8.0/html/src/assets/css/dark/components/modal.css" rel="stylesheet" type="text/css">
    <link href="/cork-v3.8.0/html/src/assets/css/dark/apps/contacts.css" rel="stylesheet" type="text/css" />
    <!-- personel içerigi bitti -->
    <!--Buradası todolist-->

    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/plugins/css/light/editors/quill/quill.snow.css">
    <link href="/cork-v3.8.0/html/src/assets/css/light/apps/todolist.css" rel="stylesheet" type="text/css" />
    <link href="/cork-v3.8.0/html/src/assets/css/light/components/modal.css" rel="stylesheet" type="text/css">

    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/plugins/css/dark/editors/quill/quill.snow.css">
    <link href="/cork-v3.8.0/html/src/assets/css/dark/apps/todolist.css" rel="stylesheet" type="text/css" />
    <link href="/cork-v3.8.0/html/src/assets/css/dark/components/modal.css" rel="stylesheet" type="text/css">
    <!--todo bitti-->
    <!--Note başladı -->

    <link href="/cork-v3.8.0/html/src/assets/css/light/components/modal.css" rel="stylesheet" type="text/css">
    <link href="/cork-v3.8.0/html/src/assets/css/light/apps/notes.css" rel="stylesheet" type="text/css" />

    <link href="/cork-v3.8.0/html/src/assets/css/dark/components/modal.css" rel="stylesheet" type="text/css">
    <link href="/cork-v3.8.0/html/src/assets/css/dark/apps/notes.css" rel="stylesheet" type="text/css" />

    <!-- Note Bitti -->
    <!-- file upload  balıyor -->
    <link rel="stylesheet" href="/cork-v3.8.0/html/src/plugins/src/filepond/filepond.min.css">
    <link rel="stylesheet" href="/cork-v3.8.0/html/src/plugins/src/filepond/FilePondPluginImagePreview.min.css">

    <link href="/cork-v3.8.0/html/src/assets/css/light/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="/cork-v3.8.0/html/src/plugins/css/light/filepond/custom-filepond.css" rel="stylesheet" type="text/css" />

    <link href="/cork-v3.8.0/html/src/assets/css/dark/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="/cork-v3.8.0/html/src/plugins/css/dark/filepond/custom-filepond.css" rel="stylesheet" type="text/css" />
    <!-- file upload bitti  -->
    <!--calendar başlıyor-->

    <link href="/cork-v3.8.0/html/src/plugins/src/fullcalendar/fullcalendar.min.css" rel="stylesheet" type="text/css" />

    <link href="/cork-v3.8.0/html/src/plugins/css/light/fullcalendar/custom-fullcalendar.css" rel="stylesheet" type="text/css" />
    <link href="/cork-v3.8.0/html/src/assets/css/light/components/modal.css" rel="stylesheet" type="text/css">

    <link href="/cork-v3.8.0/html/src/plugins/css/dark/fullcalendar/custom-fullcalendar.css" rel="stylesheet" type="text/css" />
    <link href="/cork-v3.8.0/html/src/assets/css/dark/components/modal.css" rel="stylesheet" type="text/css">
    <!-- Calendar bitiyor -->
    <!--  paymenview start  -->
    <link href="/cork-v3.8.0/html/src/assets/css/light/apps/invoice-preview.css" rel="stylesheet" type="text/css" />
    <link href="/cork-v3.8.0/html/src/assets/css/dark/apps/invoice-preview.css" rel="stylesheet" type="text/css" />

    <!--  profil detail start -->
    <link href="/cork-v3.8.0/html/src/assets/css/light/components/list-group.css" rel="stylesheet" type="text/css">
    <link href="/cork-v3.8.0/html/src/assets/css/light/users/user-profile.css" rel="stylesheet" type="text/css" />

    <link href="/cork-v3.8.0/html/src/assets/css/dark/components/list-group.css" rel="stylesheet" type="text/css">
    <link href="/cork-v3.8.0/html/src/assets/css/dark/users/user-profile.css" rel="stylesheet" type="text/css" />
    <!--  profil detail finish   -->


    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/plugins/src/table/datatable/datatables.css">

    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/plugins/css/light/table/datatable/dt-global_style.css">
    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/plugins/css/light/table/datatable/custom_dt_miscellaneous.css">

    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/plugins/css/dark/table/datatable/dt-global_style.css">
    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/plugins/css/dark/table/datatable/custom_dt_miscellaneous.css">


    <link rel="stylesheet" href="/cork-v3.8.0/html/src/plugins/src/sweetalerts2/sweetalerts2.css">

    <link href="/cork-v3.8.0/html/src/assets/css/light/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="/cork-v3.8.0/html/src/plugins/css/light/sweetalerts2/custom-sweetalert.css" rel="stylesheet" type="text/css" />

    <link href="/cork-v3.8.0/html/src/assets/css/dark/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="/cork-v3.8.0/html/src/plugins/css/dark/sweetalerts2/custom-sweetalert.css" rel="stylesheet" type="text/css" />

    <!--     -->
    <link href="/cork-v3.8.0/html/src/assets/css/light/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="/cork-v3.8.0/html/src/assets/css/light/components/timeline.css" rel="stylesheet" type="text/css" />

    <link href="/cork-v3.8.0/html/src/assets/css/dark/scrollspyNav.css" rel="stylesheet" type="text/css" />
    <link href="/cork-v3.8.0/html/src/assets/css/dark/components/timeline.css" rel="stylesheet" type="text/css" />
    <!--  END CUSTOM STYLE FILE  -->

    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/plugins/src/table/datatable/datatables.css">

    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/plugins/css/light/table/datatable/dt-global_style.css">
    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/plugins/css/light/table/datatable/custom_dt_custom.css">

    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/plugins/css/dark/table/datatable/dt-global_style.css">
    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/plugins/css/dark/table/datatable/custom_dt_custom.css">
    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/assets/css/light/file.css">

    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/plugins/src/bootstrap-touchspin/jquery.bootstrap-touchspin.min.css">
    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/plugins/src/glightbox/glightbox.min.css">
    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/plugins/src/splide/splide.min.css">

    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/assets/css/light/components/tabs.css">
    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/assets/css/light/apps/ecommerce-details.css">

    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/assets/css/dark/components/tabs.css">
    <link rel="stylesheet" type="text/css" href="/cork-v3.8.0/html/src/assets/css/dark/apps/ecommerce-details.css">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.css">

    <style>
        .table-container {
            overflow-x: auto;
        }

            .table-container table {
                width: max-content;
            }
    </style>
    <style>
        .checkbox-container {
            position: relative;
        }

            .checkbox-container input[type="checkbox"] {
                display: none;
            }

        .checkmark {
            position: relative;
            cursor: pointer;
        }

            .checkmark i {
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: opacity 0.2s ease-in-out;
            }

        .checked-icon {
            opacity: 1;
        }

        .unchecked-icon {
            opacity: 0;
        }

        .checkbox-container input[type="checkbox"]:checked + .checkmark .checked-icon {
            opacity: 1;
        }

        .checkbox-container input[type="checkbox"]:checked + .checkmark .unchecked-icon {
            opacity: 0;
        }

    </style>
    <!-- paymentview end -->
</head>
<body class="layout-boxed">
    <!-- BEGIN LOADER -->
    <div id="load_screen">
        <div class="loader">
            <div class="loader-content">
                <div class="spinner-grow align-self-center"></div>
            </div>
        </div>
    </div>
    <!--  END LOADER -->
    <!--  BEGIN NAVBAR  -->
    <div class="header-container container-xxl">
        <header class="header navbar navbar-expand-sm expand-header">

            <a href="javascript:void(0);" class="sidebarCollapse">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-menu"><line x1="3" y1="12" x2="21" y2="12"></line><line x1="3" y1="6" x2="21" y2="6"></line><line x1="3" y1="18" x2="21" y2="18"></line></svg>
            </a>

            <div class="search-animated toggle-search">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                <form class="form-inline search-full form-inline search" role="search">
                    <div class="search-bar">
                        <input type="text" class="form-control search-form-control  ml-lg-auto" placeholder="Search...">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x search-close"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                    </div>
                </form>
                <span class="badge badge-secondary">Ctrl + /</span>
            </div>

            <ul class="navbar-item flex-row ms-lg-auto ms-0">

                <li class="nav-item dropdown language-dropdown">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle" id="language-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/cork-v3.8.0/html/src/assets/img/1x1/tr.svg" class="flag-width" alt="flag">
                    </a>
                </li>
                <li class="nav-item dropdown language-dropdown">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle" id="language-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <img src="/cork-v3.8.0/Atatürk.jpg" class="flag-width" alt="flag">
                    </a>
                </li>
                <li class="nav-item theme-toggle-item">
                    <a href="javascript:void(0);" class="nav-link theme-toggle">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-moon dark-mode"><path d="M21 12.79A9 9 0 1 1 11.21 3 7 7 0 0 0 21 12.79z"></path></svg>
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-sun light-mode"><circle cx="12" cy="12" r="5"></circle><line x1="12" y1="1" x2="12" y2="3"></line><line x1="12" y1="21" x2="12" y2="23"></line><line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line><line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line><line x1="1" y1="12" x2="3" y2="12"></line><line x1="21" y1="12" x2="23" y2="12"></line><line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line><line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line></svg>
                    </a>
                </li>

                <li class="nav-item dropdown notification-dropdown">
                    <a href="javascript:void(0);" class="nav-link dropdown-toggle" id="notificationDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bell"><path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9"></path><path d="M13.73 21a2 2 0 0 1-3.46 0"></path></svg><span class="badge badge-success"></span>
                    </a>

                    <div class="dropdown-menu position-absolute" aria-labelledby="notificationDropdown">
                        <div class="drodpown-title message">
                            <h6 class="d-flex justify-content-between"><span class="align-self-center">Messages</span> <span class="badge badge-primary">9 Unread</span></h6>
                        </div>
                        <div class="notification-scroll">
                            <div class="dropdown-item">
                                <div class="media server-log">
                                    <img src="/cork-v3.8.0/html/src/assets/img/profile-16.jpeg" class="img-fluid me-2" alt="avatar">
                                    <div class="media-body">
                                        <div class="data-info">
                                            <h6 class="">Kara Young</h6>
                                            <p class="">1 hr ago</p>
                                        </div>

                                        <div class="icon-status">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown-item">
                                <div class="media ">
                                    <img src="/cork-v3.8.0/html/src/assets/img/profile-15.jpeg" class="img-fluid me-2" alt="avatar">
                                    <div class="media-body">
                                        <div class="data-info">
                                            <h6 class="">Daisy Anderson</h6>
                                            <p class="">8 hrs ago</p>
                                        </div>

                                        <div class="icon-status">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown-item">
                                <div class="media file-upload">
                                    <img src="/cork-v3.8.0/html/src/assets/img/profile-21.jpeg" class="img-fluid me-2" alt="avatar">
                                    <div class="media-body">
                                        <div class="data-info">
                                            <h6 class="">Oscar Garner</h6>
                                            <p class="">14 hrs ago</p>
                                        </div>

                                        <div class="icon-status">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="drodpown-title notification mt-2">
                                <h6 class="d-flex justify-content-between"><span class="align-self-center">Notifications</span> <span class="badge badge-secondary">16 New</span></h6>
                            </div>

                            <div class="dropdown-item">
                                <div class="media server-log">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-server"><rect x="2" y="2" width="20" height="8" rx="2" ry="2"></rect><rect x="2" y="14" width="20" height="8" rx="2" ry="2"></rect><line x1="6" y1="6" x2="6" y2="6"></line><line x1="6" y1="18" x2="6" y2="18"></line></svg>
                                    <div class="media-body">
                                        <div class="data-info">
                                            <h6 class="">Server Rebooted</h6>
                                            <p class="">45 min ago</p>
                                        </div>

                                        <div class="icon-status">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown-item">
                                <div class="media file-upload">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                    <div class="media-body">
                                        <div class="data-info">
                                            <h6 class="">Kelly Portfolio.pdf</h6>
                                            <p class="">670 kb</p>
                                        </div>

                                        <div class="icon-status">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="dropdown-item">
                                <div class="media ">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
                                    <div class="media-body">
                                        <div class="data-info">
                                            <h6 class="">Licence Expiring Soon</h6>
                                            <p class="">8 hrs ago</p>
                                        </div>

                                        <div class="icon-status">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                </li>

            </ul>
        </header>
    </div>
    <!--  END NAVBAR  -->
    <!--  BEGIN MAIN CONTAINER  -->
    <div class="main-container" id="container">

        <div class="overlay"></div>
        <div class="search-overlay"></div>

        <!--  BEGIN SIDEBAR  -->
        <div class="sidebar-wrapper sidebar-theme">

            <nav id="sidebar">

                <div class="navbar-nav theme-brand flex-row  text-center">
                    <div class="nav-logo">
                        <div class="nav-item theme-logo">

                            <a>
                                <img src="/cork-v3.8.0/WhatsApp Görsel 2023-06-09 saat 10.49.33.jpg" />
                            </a>
                        </div>
                        <div class="nav-item theme-text">
                            <a asp-controller="Home" asp-action="" class="nav-link">Meta Kurs</a>
                        </div>
                    </div>
                    <div class="nav-item sidebar-toggle">
                        <div class="btn-toggle sidebarCollapse">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevrons-left"><polyline points="11 17 6 12 11 7"></polyline><polyline points="18 17 13 12 18 7"></polyline></svg>
                        </div>
                    </div>
                </div>


                <div class="shadow-bottom"></div>
                <ul class="list-unstyled menu-categories" id="accordionExample">
                    <li class="menu active">
                        <a href="#dashboard" data-bs-toggle="collapse" aria-expanded="true" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                                <span>Root Yönetici</span>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                            </div>
                        </a>
                        <ul class="collapse submenu list-unstyled show" id="dashboard" data-bs-parent="#accordionExample">
                            <li class="active">
                                <a asp-controller="Company" asp-action="Index">Şirket İşlemleri</a>
                            </li>
                            <li>
                                <a href="/Project/Index">Proje İşlemleri</a>

                            </li>
                            <li>
                                <a asp-controller="Deal" asp-action="Index">Anlaşmalar</a>

                            </li>
                            <li>
                                <a href="/Department/Index">Departman işlemleri</a>
                            </li>
                            <li>
                                <a asp-controller="Employees" asp-action="Index">Çalışanlar</a>
                            </li>
                            <li>
                                <a asp-controller="Task" asp-action="Index">Görev İşlemleri</a>
                            </li>
                            <li>
                                <a href="./index2.html">Ödeme İşlemleri</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu menu-heading">
                        <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg><span>Admin İşlemleri</span></div>
                    </li>
                    <li class="menu">
                        <a href="#layouts" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-airplay"><path d="M5 17H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h16a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-1"></path><polygon points="12 15 17 21 7 21 12 15"></polygon></svg>
                                <span>Yönet</span>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                            </div>
                        </a>
                        <ul class="collapse submenu list-unstyled" id="layouts" data-bs-parent="#accordionExample">
                            <li>
                                <a asp-controller="Role" asp-action="Index">Role İşlemleri</a>

                            </li>
                            <li>
                                <a asp-controller="Role" asp-action="Users">Rol Atama İşelmleri</a>
                            </li>
                            <li>
                                <a asp-controller="Account" asp-action="Index">Kullanıcı İşlemleri</a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu menu-heading">
                        <div class="heading"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg><span>Yetkili İşlemleri</span></div>
                    </li>

                    <li class="menu">
                        <a href="#invoice" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                <span>İşlemler</span>
                            </div>
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
                            </div>
                        </a>
                        <ul class="collapse submenu list-unstyled" id="invoice" data-bs-parent="#accordionExample">

                            <li>
                                <a asp-controller="Student" asp-action="Index">Öğrenci İşlemleri</a>
                            </li>
                            <li>
                                <a asp-controller="Class" asp-action="Index">Sınıf İşlemleri</a>
                            </li>
                            <li>
                                <a asp-controller="Polling" asp-action="Index">Yoklama İşlemleri</a>
                            </li>

                            <li>
                                <a asp-controller="Payment" asp-action="Index">Ödeme İşelmleri</a>
                            </li>
                        </ul>
                    </li>



                    <li class="menu">
                        <a asp-controller="TodoList" asp-action="Index" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-edit"><path d="M11 4H4a2 2 0 0 0-2 2v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2v-7"></path><path d="M18.5 2.5a2.121 2.121 0 0 1 3 3L12 15l-4 1 1-4 9.5-9.5z"></path></svg>
                                <span>Yapılcak Listesi</span>
                            </div>
                        </a>

                    <li class="menu">
                        <a asp-controller="Note" asp-action="Index" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file-text"><path d="M14 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V8z"></path><polyline points="14 2 14 8 20 8"></polyline><line x1="16" y1="13" x2="8" y2="13"></line><line x1="16" y1="17" x2="8" y2="17"></line><polyline points="10 9 9 9 8 9"></polyline></svg>
                                <span>Notlar</span>
                            </div>
                        </a>
                    </li>
                    </li>
                    <li class="menu">
                        <a asp-controller="Calendar" asp-action="Index" aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
                                <span>Takvim</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a aria-expanded="false" class="dropdown-toggle">
                            <div class="">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-square"><path d="M21 15a2 2 0 0 1-2 2H7l-4 4V5a2 2 0 0 1 2-2h14a2 2 0 0 1 2 2z"></path></svg>
                                <span>Mesajlaşma</span>
                            </div>
                        </a>
                    </li>
                    <li class="menu">
                        <a href="/cork-v3.8.0/html/modern-light-menu/app-chat.html" aria-expanded="false" class="dropdown-toggle" style="color:darkslategrey">
                            <div>
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
                                    <path d="M12 2c3.9 0 7 3.1 7 7s-3.1 7-7 7-7-3.1-7-7 3.1-7 7-7zm0 2c2.8 0 5 2.2 5 5s-2.2 5-5 5-5-2.2-5-5 2.2-5 5-5zM19 21v-2c0-2.2-1.8-4-4-4H9c-2.2 0-4 1.8-4 4v2" />
                                </svg>


                                <span>Ayarlar</span>
                            </div>
                        </a>
                    </li>

                </ul>

            </nav>

        </div>
        <!--  END SIDEBAR  -->
 
        <!--  BEGIN CONTENT AREA  -->
        @RenderBody()

        <!--  END CONTENT AREA  -->

    </div>
    @RenderSection("Scripts",false)
    <script src="/cork-v3.8.0/html/src/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/mousetrap/mousetrap.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/waves/waves.min.js"></script>
    <script src="/cork-v3.8.0/html/layouts/modern-light-menu/app.js"></script>

    <!-- BEGIN PAGE LEVEL PLUGINS/CUSTOM SCRIPTS -->
    <script src="/cork-v3.8.0/html/src/plugins/src/apex/apexcharts.min.js"></script>
    <script src="/cork-v3.8.0/html/src/assets/js/dashboard/dash_1.js"></script>
    <!-- END MAIN CONTAINER -->
    <!-- BEGIN GLOBAL MANDATORY STYLES -->
    <script src="/cork-v3.8.0/html/src/plugins/src/highlight/highlight.pack.js"></script>
    <!-- END GLOBAL MANDATORY STYLES -->
    <!-- BEGIN CUSTOM SCRIPT FILE -->
    <script src="/cork-v3.8.0/html/src/assets/js/scrollspyNav.js"></script>

    <script src="/cork-v3.8.0/html/src/plugins/src/filepond/filepond.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/filepond/FilePondPluginFileValidateType.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/filepond/FilePondPluginImageExifOrientation.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/filepond/FilePondPluginImagePreview.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/filepond/FilePondPluginImageCrop.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/filepond/FilePondPluginImageResize.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/filepond/FilePondPluginImageTransform.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/filepond/filepondPluginFileValidateSize.min.js"></script>

    <script src="/cork-v3.8.0/html/src/plugins/src/stepper/bsStepper.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/stepper/custom-bsStepper.min.js"></script>

    <!--Buradası todlist-->
    <script src="/cork-v3.8.0/html/src/plugins/src/global/vendors.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/editors/quill/quill.js"></script>
    <script src="/cork-v3.8.0/html/src/assets/js/apps/todoList.js"></script>
    <!-- todlist bitti-->,

    <!--Note başlıyor-->
    <script src="/cork-v3.8.0/html/src/assets/js/apps/notes.js"></script>
    <!-- Note bitti -->
    <!--Calendar başlıyor-->
    <script src="/cork-v3.8.0/html/src/plugins/src/fullcalendar/fullcalendar.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/uuid/uuid4.min.js"></script>

    <script src="/cork-v3.8.0/html/src/plugins/src/fullcalendar/custom-fullcalendar.js"></script>
    <!--  Calendar bitti  -->
    <!--PaymentView-->
    <script src="/cork-v3.8.0/html/src/assets/js/apps/invoice-preview.js"></script>
    <!--PaymentView bitti-->
    <script src="/cork-v3.8.0/html/src/plugins/src/table/datatable/datatables.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/table/datatable/button-ext/dataTables.buttons.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/table/datatable/button-ext/jszip.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/table/datatable/button-ext/buttons.html5.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/table/datatable/button-ext/buttons.print.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/table/datatable/custom_miscellaneous.js"></script>

    <!--Personel js başlıyor-->
    <script src="/cork-v3.8.0/html/src/assets/js/custom.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/jquery-ui/jquery-ui.min.js"></script>
    <script src="/cork-v3.8.0/html/src/assets/js/apps/contact.js"></script>
    <!--Personel js bitti-->

    <script src="/cork-v3.8.0/html/src/assets/js/scrollspyNav.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/filepond/filepond.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/filepond/FilePondPluginFileValidateType.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/filepond/FilePondPluginImageExifOrientation.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/filepond/FilePondPluginImagePreview.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/filepond/FilePondPluginImageCrop.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/filepond/FilePondPluginImageResize.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/filepond/FilePondPluginImageTransform.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/filepond/filepondPluginFileValidateSize.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/filepond/custom-filepond.js"></script>


    <script src="/cork-v3.8.0/html/src/assets/js/scrollspyNav.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/sweetalerts2/sweetalerts2.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/sweetalerts2/custom-sweetalert.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/highlight/highlight.pack.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="/cork-v3.8.0/html/src/plugins/src/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/glightbox/glightbox.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/splide/splide.min.js"></script>
    <script src="/cork-v3.8.0/html/src/assets/js/apps/ecommerce-details.js"></script>
    <!-- Deal Started -->
    <!-- BEGIN PAGE LEVEL CUSTOM STYLES -->
    <!-- END PAGE LEVEL CUSTOM STYLES -->

    <script src="../src/plugins/src/table/datatable/datatables.js"></script>

    <!--  task  -->
    <script src="/cork-v3.8.0/html/src/assets/js/scrollspyNav.js"></script>
    <!-- task -->
    <!-- Deal Finised -->
    <!-- END PAGE LEVEL PLUGINS -->
    @*    <!-- profil detail start  -->
    <script src="/cork-v3.8.0/html/src/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/mousetrap/mousetrap.min.js"></script>
    <script src="/cork-v3.8.0/html/src/plugins/src/waves/waves.min.js"></script>
    <script src="/cork-v3.8.0/html/layouts/modern-light-menu/app.js"></script>
    <!-- profil detail finish  -->*@
    @*    <script>
    FilePond.registerPlugin(
    FilePondPluginImagePreview,
    FilePondPluginImageExifOrientation,
    FilePondPluginFileValidateSize,
    // FilePondPluginImageEdit
    );

    // Select the file input and use
    // create() to turn it into a pond
    FilePond.create(
    document.querySelector('.file-upload-multiple')
    );
    </script>*@




    <script>

        //function addVideoInModal(btnSelector, videoSource, modalSelector, iframeHeight, iframeWidth, iframeContainer) {
        //    var myModal = new bootstrap.Modal(document.getElementById(modalSelector), {
        //        keyboard: false
        //    })
        //    document.querySelector(btnSelector).addEventListener('click', function () {
        //        var src = videoSource;
        //        myModal.show('show');
        //        var ifrm = document.createElement("iframe");
        //        ifrm.setAttribute("src", src);
        //        ifrm.setAttribute('width', iframeWidth);
        //        ifrm.setAttribute('height', iframeHeight);
        //        ifrm.style.border = "0";
        //        ifrm.setAttribute("allow", "encrypted-media");
        //        document.querySelector(iframeContainer).appendChild(ifrm);
        //    })
        //}

        //addVideoInModal('#yt-video-link', 'https://www.youtube.com/embed/YE7VzlLtp-4', 'videoMedia1', '315', '560', '.yt-container')

        //addVideoInModal('#vimeo-video-link', 'https://player.vimeo.com/video/1084537', 'videoMedia2', '315', '560', '.vimeo-container')




        ///**
        // * ==================
        // * Single File Upload
        // * ==================
        //*/

        //// We register the plugins required to do
        //// image previews, cropping, resizing, etc.
        //FilePond.registerPlugin(
        //    FilePondPluginFileValidateType,
        //    FilePondPluginImageExifOrientation,
        //    FilePondPluginImagePreview,
        //    FilePondPluginImageCrop,
        //    FilePondPluginImageResize,
        //    FilePondPluginImageTransform,
        //    //   FilePondPluginImageEdit
        //);

        //// Select the file input and use
        //// create() to turn it into a pond
        //var modalImage = FilePond.create(
        //    document.querySelector('.filepond'),
        //    {
        //        labelIdle: `<span class="no-image-placeholder"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg></span> <p class="drag-para">Resim Yükle<span class="filepond--label-action" tabindex="0">Seç</span></p>`,
        //        imagePreviewHeight: 170,
        //        imageCropAspectRatio: '1:1',
        //        imageResizeTargetWidth: 200,
        //        imageResizeTargetHeight: 200,
        //        stylePanelLayout: 'compact circle',
        //        styleLoadIndicatorPosition: 'center bottom',
        //        styleProgressIndicatorPosition: 'right bottom',
        //        styleButtonRemoveItemPosition: 'left bottom',
        //        styleButtonProcessItemPosition: 'right bottom',
        //    }
        //);

        //const myModalEl = document.getElementById('profileModal')
        //myModalEl.addEventListener('shown.bs.modal', event => {
        //    modalImage.addFiles('/cork-v3.8.0/html/src/assets/img/drag-1.jpeg');
        })

    </script>
    <script>
        // var e;
        c1 = $('#style-1').DataTable({
            headerCallback: function (e, a, t, n, s) {
                e.getElementsByTagName("th")[0].innerHTML = `
                                <div class="form-check form-check-primary d-block">
                                    <input class="form-check-input chk-parent" type="checkbox" id="form-check-default">
                                </div>`
            },
            columnDefs: [{
                targets: 0, width: "30px", className: "", orderable: !1, render: function (e, a, t, n) {
                    return `
                                    <div class="form-check form-check-primary d-block">
                                        <input class="form-check-input child-chk" type="checkbox" id="form-check-default">
                                    </div>`
                }
            }],
            "dom": "<'dt--top-section'<'row'<'col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center'l><'col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3'f>>>" +
                "<'table-responsive'tr>" +
                "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Gösterilen _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "lengthMenu": [5, 10, 20, 50],
            "pageLength": 10
        });

        multiCheck(c1);

        c2 = $('#style-2').DataTable({
            headerCallback: function (e, a, t, n, s) {
                e.getElementsByTagName("th")[0].innerHTML = `
                                <div class="form-check form-check-primary d-block new-control">
                                    <input class="form-check-input chk-parent" type="checkbox" id="form-check-default">
                                </div>`
            },
            columnDefs: [{
                targets: 0, width: "30px", className: "", orderable: !1, render: function (e, a, t, n) {
                    return `
                                    <div class="form-check form-check-primary d-block new-control">
                                        <input class="form-check-input child-chk" type="checkbox" id="form-check-default">
                                    </div>`
                }
            }],
            "dom": "<'dt--top-section'<'row'<'col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center'l><'col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3'f>>>" +
                "<'table-responsive'tr>" +
                "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Görsterilen Sonuç _PAGE_ of _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Search...",
                "sLengthMenu": "Results :  _MENU_",
            },
            "lengthMenu": [5, 10, 20, 50],
            "pageLength": 10
        });

        multiCheck(c2);

        c3 = $('#style-3').DataTable({
            "dom": "<'dt--top-section'<'row'<'col-12 col-sm-6 d-flex justify-content-sm-start justify-content-center'l><'col-12 col-sm-6 d-flex justify-content-sm-end justify-content-center mt-sm-0 mt-3'f>>>" +
                "<'table-responsive'tr>" +
                "<'dt--bottom-section d-sm-flex justify-content-sm-between text-center'<'dt--pages-count  mb-sm-0 mb-3'i><'dt--pagination'p>>",
            "oLanguage": {
                "oPaginate": { "sPrevious": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>', "sNext": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right"><line x1="5" y1="12" x2="19" y2="12"></line><polyline points="12 5 19 12 12 19"></polyline></svg>' },
                "sInfo": "Gösterilen Sonuç _PAGE_ ve _PAGES_",
                "sSearch": '<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>',
                "sSearchPlaceholder": "Ara...",
                "sLengthMenu": "Sonuçlar :  _MENU_",
            },
            "stripeClasses": [],
            "lengthMenu": [5, 10, 20, 50],
            "pageLength": 10
        });

        multiCheck(c3);
    </script>
    <script>
        function showFileName(input) {
            const fileName = input.files[0].name;
            const fileType = input.files[0].type;
            const fileLabel = input.parentElement.querySelector('.js-value');
            const uploadStatus = input.parentElement.nextElementSibling;
            const uploadProgressBar = uploadStatus.querySelector('.upload-progress');
            const fileInfo = uploadStatus.querySelector('.file-info');

            fileLabel.textContent = fileName;
            fileLabel.classList.add('is-selected');
            uploadStatus.style.display = 'block';
            fileInfo.textContent = `Dosya Türü: ${fileType}`;

            // Dosya yükleme simülasyonu
            let progress = 0;
            const interval = setInterval(function () {
                progress += 1;
                uploadProgressBar.style.width = `${progress}%`;

                if (progress >= 100) {
                    clearInterval(interval);
                    uploadStatus.textContent = 'Dosya yüklendi.';
                }
            }, 50); // Her 50ms'de bir güncelleme yap
        }


    </script>

    <script>
        function getFilePath() {
            var fileInput = document.getElementById("fileInput");
            var filePath = fileInput.value;

            if (filePath) {
                var filePathElement = document.getElementById("filePath");
                filePathElement.textContent = "Selected File Path: " + filePath;
            } else {
                alert("Please select a file.");
            }
        }
    </script>

</body>
</html>