@using NLayer.Core.DTOs.ProductDtos
@model GetWithProductDto
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@foreach (var item in Model.UserProducts)
{
    @if (item.Product.Condition != false)
    {
        <div id="content" class="main-content">

            <div class="layout-px-spacing">

                <div class="middle-content container-xxl p-0">


                    <div class="row layout-top-spacing">

                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">

                            <div class="widget-content widget-content-area br-8">

                                <div class="row justify-content-center">
                                    <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-7 col-sm-9 col-12 pe-3">
                                        <!-- Swiper -->
                                        <div id="main-slider" class="splide">
                                            <div class="splide__track">
                                                <ul class="splide__list">
                                                    <li class="splide__slide">
                                                        <a href="/cork-v3.8.0/Dog-Img/1.jpg" class="glightbox">
                                                            <img alt="ecommerce" src="/cork-v3.8.0/Dog-Img/1.jpg">
                                                        </a>
                                                    </li>
                                                    <li class="splide__slide">
                                                        <a href="/cork-v3.8.0/Dog-Img/2.jpg" class="glightbox">
                                                            <img alt="ecommerce" src="/cork-v3.8.0/Dog-Img/2.jpg">
                                                        </a>
                                                    </li>
                                                    <li class="splide__slide">
                                                        <a href="/cork-v3.8.0/Dog-Img/3.jpg" class="glightbox">
                                                            <img alt="ecommerce" src="/cork-v3.8.0/Dog-Img/3.jpg">
                                                        </a>
                                                    </li>
                                                    <li class="splide__slide">
                                                        <a href="/cork-v3.8.0/Dog-Img/4.jpg" class="glightbox">
                                                            <img alt="ecommerce" src="/cork-v3.8.0/Dog-Img/4.jpg">
                                                        </a>
                                                    </li>
                                                    <li class="splide__slide">
                                                        <a href="/cork-v3.8.0/Dog-Img/5.jpg" class="glightbox">
                                                            <img alt="ecommerce" src="/cork-v3.8.0/Dog-Img/5.jpg">
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>

                                        <div id="thumbnail-slider" class="splide">
                                            <div class="splide__track">
                                                <ul class="splide__list">
                                                    <li class="splide__slide"><img alt="ecommerce" src="/cork-v3.8.0/Dog-Img/1.jpg"></li>
                                                    <li class="splide__slide"><img alt="ecommerce" src="/cork-v3.8.0/Dog-Img/2.jpg"></li>
                                                    <li class="splide__slide"><img alt="ecommerce" src="/cork-v3.8.0/Dog-Img/3.jpg"></li>
                                                    <li class="splide__slide"><img alt="ecommerce" src="/cork-v3.8.0/Dog-Img/4.jpg"></li>
                                                    <li class="splide__slide"><img alt="ecommerce" src="/cork-v3.8.0/Dog-Img/5.jpg"></li>
                                                </ul>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-xxl-4 col-xl-5 col-lg-12 col-md-12 col-12 mt-xl-0 mt-5 align-self-center">

                                        <div class="product-details-content">

                                            <span class="badge badge-light-danger mb-3">Kayıp Aranıyor</span>

                                            <h3 class="product-title mb-0">@item.Product.Animal.Name</h3>

                                            <div class="review mb-4">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                <span class="rating-score">4 <span class="rating-count">(Yaşında)</span></span>
                                            </div>

                                           

                                            <hr class="mb-4">

                                            <div class="row color-swatch mb-4">
                                                <div class="col-xl-3 col-lg-6 col-sm-6 align-self-center">Rengi</div>
                                                <div class="col-xl-9 col-lg-6 col-sm-6">
                                                    <div class="color-options text-xl-end">
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault3">
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault4" checked>
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault5">
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault6">
                                                        </div>
                                                        <div class="form-check form-check-inline">
                                                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault7">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row size-selector mb-4">
                                                <div class="col-xl-9 col-lg-6 col-sm-6 align-self-center">Doğum Tarihi</div>
                                                <div class="col-xl-3 col-lg-6 col-sm-6 align-self-center">
    
                                                    <a href="javascript:void(0);" class="product-helpers text-end d-block mt-2">@item.Product.Animal.Birthday</a>
                                                </div>
                                            </div>

                                            <div class="row quantity-selector mb-4">
                                                <div class="col-xl-6 col-lg-6 col-sm-6 mt-sm-3">Cinsiyeti</div>
                                                <div class="col-xl-6 col-lg-6 col-sm-6">
                                               
                                                    <p class="text-danger product-helpers text-end mt-2">Dişi</p>
                                                </div>
                                            </div>

                                            <hr class="mb-5 mt-4">

                                            

                                            <div class="secure-info mt-4">
                                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shield"><path d="M12 22s8-4 8-10V5l-8-3-8 3v7c0 6 8 10 8 10z"></path></svg>
                                                <p> Hayvan hakkında Ön Bilgi tanıtım için </p>
                                            </div>

                                        </div>

                                    </div>
                                </div>

                            </div>

                        </div>

                        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-4">

                            <div class="widget-content widget-content-area br-8">

                                <div class="production-descriptions simple-pills">

                                    <div class="pro-des-content">

                                        <div id="iconsAccordion" class="accordion-icons accordion">

                                            <div class="card">
                                                <div class="card-header" id="headingTwo3">
                                                    <section class="mb-0 mt-0">
                                                        <div role="menu" class="collapsed" data-bs-toggle="collapse" data-bs-target="#iconAccordionTwo" aria-expanded="false" aria-controls="iconAccordionTwo">
                                                            <div class="accordion-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle"><path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z"></path></svg></div>
                                                            Hayvan Bilgileri  <div class="icons"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></div>
                                                        </div>
                                                    </section>
                                                </div>
                                                <div id="iconAccordionTwo" class="collapse" aria-labelledby="headingTwo3" data-bs-parent="#iconsAccordion">
                                                    <div class="card-body">

                                                        <div class="row">

                                                            <div class="col-md-12 mx-auto">

                                                                <div class="media mb-4">
                                                                    <div class="avatar me-sm-4 mb-sm-0 me-0 mb-3">
                                                                        <img alt="avatar" src="/cork-v3.8.0/html/src/assets/img/profile-2.jpeg" class="rounded-circle">
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h4 class="media-heading mb-1">Kelly Young</h4>
                                                                        <div class="stars">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                        </div>
                                                                        <div class="meta-tags">a min ago</div>
                                                                        <p class="media-text mt-2">Fusce condimentum cursus mauris et ornare. Mauris fermentum mi id sollicitudin viverra. Aenean dignissim sed ante eget dapibus. Sed dapibus nulla elementum, rutrum neque eu, gravida neque.</p>
                                                                    </div>
                                                                </div>

                                                                <div class="media mb-4">
                                                                    <div class="avatar me-sm-4 mb-sm-0 me-0 mb-3">
                                                                        <img alt="avatar" src="/cork-v3.8.0/html/src/assets/img/profile-4.jpeg" class="rounded-circle">
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h4 class="media-heading mb-1">Mary McDonald</h4>
                                                                        <div class="stars">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                        </div>
                                                                        <div class="meta-tags">40 mins ago</div>
                                                                        <p class="media-text mt-2">Fusce condimentum cursus mauris et ornare. Mauris fermentum mi id sollicitudin viverra. Aenean dignissim sed ante eget dapibus. Sed dapibus nulla elementum, rutrum neque eu, gravida neque.</p>
                                                                    </div>
                                                                </div>

                                                                <div class="media mb-4">
                                                                    <div class="avatar me-sm-4 mb-sm-0 me-0 mb-3">
                                                                        <img alt="avatar" src="/cork-v3.8.0/html/src/assets/img/profile-21.jpeg" class="rounded-circle">
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h4 class="media-heading mb-1">Oscar Garner</h4>
                                                                        <div class="stars">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star empty-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                        </div>
                                                                        <div class="meta-tags">1 hr ago</div>
                                                                        <p class="media-text mt-2">Fusce condimentum cursus mauris et ornare. Mauris fermentum mi id sollicitudin viverra. Aenean dignissim sed ante eget dapibus. Sed dapibus nulla elementum, rutrum neque eu, gravida neque.</p>
                                                                    </div>
                                                                </div>

                                                                <div class="media mb-4">
                                                                    <div class="avatar me-sm-4 mb-sm-0 me-0 mb-3">
                                                                        <img alt="avatar" src="/cork-v3.8.0/html/src/assets/img/profile-24.jpeg" class="rounded-circle">
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h4 class="media-heading mb-1">Daisy Anderson</h4>
                                                                        <div class="stars">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                        </div>
                                                                        <div class="meta-tags">15 hrs ago</div>
                                                                        <p class="media-text mt-2">Fusce condimentum cursus mauris et ornare. Mauris fermentum mi id sollicitudin viverra. Aenean dignissim sed ante eget dapibus. Sed dapibus nulla elementum, rutrum neque eu, gravida neque.</p>
                                                                    </div>
                                                                </div>

                                                                <div class="media mb-4">
                                                                    <div class="avatar me-sm-4 mb-sm-0 me-0 mb-3">
                                                                        <img alt="avatar" src="/cork-v3.8.0/html/src/assets/img/profile-5.jpeg" class="rounded-circle">
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h4 class="media-heading mb-1">Andy King</h4>
                                                                        <div class="stars">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                        </div>
                                                                        <div class="meta-tags">1 day ago</div>
                                                                        <p class="media-text mt-2">Fusce condimentum cursus mauris et ornare. Mauris fermentum mi id sollicitudin viverra. Aenean dignissim sed ante eget dapibus. Sed dapibus nulla elementum, rutrum neque eu, gravida neque.</p>
                                                                    </div>
                                                                </div>

                                                                <div class="media mb-4">
                                                                    <div class="avatar me-sm-4 mb-sm-0 me-0 mb-3">
                                                                        <img alt="avatar" src="/cork-v3.8.0/html/src/assets/img/profile-30.png" class="rounded-circle">
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h4 class="media-heading mb-1">Andy King</h4>
                                                                        <div class="stars">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                        </div>
                                                                        <div class="meta-tags">2 days ago</div>
                                                                        <p class="media-text mt-2">Fusce condimentum cursus mauris et ornare. Mauris fermentum mi id sollicitudin viverra. Aenean dignissim sed ante eget dapibus. Sed dapibus nulla elementum, rutrum neque eu, gravida neque.</p>
                                                                    </div>
                                                                </div>

                                                                <div class="media mb-4">
                                                                    <div class="avatar me-sm-4 mb-sm-0 me-0 mb-3">
                                                                        <img alt="avatar" src="/cork-v3.8.0/html/src/assets/img/profile-34.jpeg" class="rounded-circle">
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h4 class="media-heading mb-1">Shaun Park</h4>
                                                                        <div class="stars">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                        </div>
                                                                        <div class="meta-tags">a week ago</div>
                                                                        <p class="media-text mt-2">Fusce condimentum cursus mauris et ornare. Mauris fermentum mi id sollicitudin viverra. Aenean dignissim sed ante eget dapibus. Sed dapibus nulla elementum, rutrum neque eu, gravida neque.</p>
                                                                    </div>
                                                                </div>

                                                                <div class="media">
                                                                    <div class="avatar me-sm-4 mb-sm-0 me-0 mb-3">
                                                                        <img alt="avatar" src="/cork-v3.8.0/html/src/assets/img/profile-32.jpeg" class="rounded-circle">
                                                                    </div>
                                                                    <div class="media-body">
                                                                        <h4 class="media-heading mb-1">Xavier</h4>
                                                                        <div class="stars">
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star empty-star"><polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"></polygon></svg>
                                                                        </div>
                                                                        <div class="meta-tags">2 weeks ago</div>
                                                                        <p class="media-text mt-2">Fusce condimentum cursus mauris et ornare. Mauris fermentum mi id sollicitudin viverra. Aenean dignissim sed ante eget dapibus. Sed dapibus nulla elementum, rutrum neque eu, gravida neque.</p>
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="card">
                                                <div class="card-header" id="headingOne3">
                                                    <section class="mb-0 mt-0">
                                                        <div role="menu" class="collapsed" data-bs-toggle="collapse" data-bs-target="#iconAccordionOne" aria-expanded="false" aria-controls="iconAccordionOne">
                                                            <div class="accordion-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-bag"><path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z"></path><line x1="3" y1="6" x2="21" y2="6"></line><path d="M16 10a4 4 0 0 1-8 0"></path></svg></div>
                                                            İleştişim Ve Adres Bilgileri  <div class="icons"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></div>
                                                        </div>
                                                    </section>
                                                </div>

                                                <div id="iconAccordionOne" class="collapse" aria-labelledby="headingOne3" data-bs-parent="#iconsAccordion">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <p class="mb-4">Flattering pleats silhouette sartorial cuffs luxurious pearl buttons fitted around the waist silver. Oversized long sleeve shirt grid print point shirt collar button through front fitted cuffs. Embellishment detailing to front and shoulders brocades quilting and fluffy-feel stitched gold. Tropical wrap front essential cut classic sartorial details feminine peplum-style shirt white. Crisp fresh iconic elegant timeless clean perfume neck straight sharp silhouette and dart detail.</p>
                                                                <p class="mb-5">Stripe shirts plain button-down collar short-sleeved three-color button navy top-fused collar. Tropical wrap front essential cut classic sartorial details feminine peplum-style shirt white. Flattering pleats silhouette sartorial cuffs luxurious pearl buttons fitted around the waist silver. Sophisticated kymono-style neckline satin finish manly cloth check black and red precious. Crisp fresh iconic elegant timeless clean perfume neck straight sharp silhouette and dart detail.</p>

                                                                <h5><strong>Packaging & Delivery</strong></h5>
                                                                <hr />
                                                                <p class="mb-4">Sophisticated kymono-style neckline satin finish manly cloth check black and red precious. Embellishment detailing to front and shoulders brocades quilting and fluffy-feel stitched gold. Embroidered logo chest pocket locker loop button-flap breast pockets fastening jetted. Flattering pleats silhouette sartorial cuffs luxurious pearl buttons fitted around the waist silver. Cotton canvas chacket silk mixing classic quirky work wear primary colour cropped.</p>
                                                                <p class="mb-5">Duis vehicula lectus condimentum, tincidunt odio a, posuere magna. Aliquam vitae orci a metus volutpat sagittis. Quisque volutpat, nulla non efficitur aliquet, turpis felis fringilla sem, quis pellentesque erat diam sit amet mi.</p>

                                                                <h5><strong>Specifications</strong></h5>
                                                                <hr />
                                                                <p class="mb-3">Etiam imperdiet nulla.</p>
                                                                <p class="mb-3">Maecenas fringilla posuere fringilla.</p>
                                                                <p class="mb-5">Crisp fresh iconic elegant timeless clean perfume neck straight sharp silhouette and dart detail. Sophisticated kymono-style neckline satin finish manly cloth check black and red precious. Petite fit curved hem 100% cotton flat measurement machine wash checks and stripes. Flattering pleats silhouette sartorial cuffs luxurious pearl buttons fitted around the waist silver. Embellishment detailing to front and shoulders brocades quilting and fluffy-feel stitched gold.</p>

                                                                <h5><strong>Material And Washing Instructions</strong></h5>
                                                                <hr />
                                                                <p class="mb-3">Petite fit curved hem 100% cotton flat measurement machine wash checks and stripes. Embroidered logo chest pocket locker loop button-flap breast pockets fastening jetted. Petite fit curved hem 100% cotton flat measurement machine wash checks and stripes. Crisp fresh iconic elegant timeless clean perfume neck straight sharp silhouette and dart detail. Stripe shirts plain button-down collar short-sleeved three-color button navy top-fused collar.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                            <div class="card">
                                                <div class="card-header" id="headingOne4">
                                                    <section class="mb-0 mt-0">
                                                        <div role="menu" class="collapsed" data-bs-toggle="collapse" data-bs-target="#iconAccordionFour" aria-expanded="false" aria-controls="iconAccordionFour">
                                                            <div class="accordion-icon"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-truck"><rect x="1" y="3" width="15" height="13"></rect><polygon points="16 8 20 8 23 11 23 16 16 16 16 8"></polygon><circle cx="5.5" cy="18.5" r="2.5"></circle><circle cx="18.5" cy="18.5" r="2.5"></circle></svg></div>
                                                            Daha Fazla...   <div class="icons"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-down"><polyline points="6 9 12 15 18 9"></polyline></svg></div>
                                                        </div>
                                                    </section>
                                                </div>

                                                <div id="iconAccordionFour" class="collapse" aria-labelledby="headingOne4" data-bs-parent="#iconsAccordion">
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-md-12">

                                                                <h5><strong>Shipping methods</strong></h5>
                                                                <hr />
                                                                <p class="mb-2">We ship with these shipping options:</p>
                                                                <p class="mb-5">Duis vehicula lectus condimentum, tincidunt odio a, posuere magna. Aliquam vitae orci a metus volutpat sagittis. Quisque volutpat, nulla non efficitur aliquet, turpis felis fringilla sem, quis pellentesque erat diam sit amet mi.</p>

                                                                <h5><strong>DHL Express</strong></h5>
                                                                <hr />
                                                                <p class="mb-3"> Worldwide shipping with DHL Express and you'll get a tracking number for your order. All orders usually arrive within 1 business day in North American countries.</p>
                                                                <p class="mb-5">Please see estimated delivery information at checkout.</p>

                                                                <h5><strong>Local pickup in Washington</strong></h5>
                                                                <hr />
                                                                <p class="mb-3">You can pickup your order from our office here in Washington. We will send you an E-mail when your order is ready for pickup. Please note: In the case of pickup orders, which need to be sent by US Post at the request of the customer, a processing fee of USD 10.00 will be charged in addition to the shipping costs.</p>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                </div>

            </div>

            <!--  BEGIN FOOTER  -->
            <div class="footer-wrapper">
                <div class="footer-section f-section-1">
                    <p class="">Copyright © <span class="dynamic-year">2022</span> <a target="_blank" href="https://designreset.com/cork-admin/">DesignReset</a>, All rights reserved.</p>
                </div>
                <div class="footer-section f-section-2">
                    <p class="">Coded with <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg></p>
                </div>
            </div>
            <!--  END FOOTER  -->

        </div>
    }
    else
    {
        <div id="content" class="main-content">
            <div class="layout-px-spacing">
                <strong>Ürün Kayıtlı Değil</strong>
            </div>
        </div>
    }
}
